<div class="about__container">
  <div class="about__top">About Us</div>
  <div class="about__body">
    <p>Sason is dedicated to the most highest quality of service!</p>
    <p>We at sason's want you to know that our products are superior in any way of that of the competition.</p>
    <p>Furthermore, we love to write long boring sentences to fill web pages.</p>
    <p>Also, we love spending our thursdays with Aviad in Haifa. We think he's a great guy!</p>
    <p>Please contact us if you have any questions or issues (select "Contact" in the navigation bar).</p>
  </div>    
  <br>
  <div class="row" align="center">
    <figure><img label="ddd" src="./assets/images/Tom.PNG" ><figcaption>Tom Zamir</figcaption></figure>   
    <figure><img src="./assets/images/Joe.PNG"><figcaption>Joe Solomon</figcaption></figure>        
    <figure><img src="./assets/images/etgar.PNG"><figcaption>Etgar Kiyan</figcaption></figure>   
  </div>
</div>
