@import "../../variables";

:host {
  .about {
    &__container {
      align-items: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    &__top {
      font-size: 40px;
      margin-bottom: 20px;
    }
    &__body {
      font-size: 30px;
      margin-bottom: 20px;
      color: rgb(98, 40, 175);
    }
  }
}
